Repository bonjourarcade/bonjourarcade: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload_to_gcs, pages

upload_to_gcs:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
  - echo "Setting up Google Cloud credentials..."
  - gcloud auth activate-service-account --key-file=$GCLOUD_SERVICE_KEY
  - gsutil -m rsync -rd roms gs://bonjourarcade-roms
  - echo "Upload completed. Current bucket size:"
  ...

pages:
  stage: deploy
  before_script:
  - apk update
  - apk add --no-cache bash imagemagick python3 py3-pip jq
  - python3 -m venv /tmp/yq-env
  - . /tmp/yq-env/bin/activate
  - pip3 install yq
  - pip3 install Pillow
  script:
  - bash scripts/build_parallel.sh
  - cp plinko-gamelist.txt public/plinko/gamelist.txt
  ...

add some games
  public/games/blazstar/cover.png
  public/games/blazstar/metadata.yaml
  public/games/gametngk/cover.png
  public/games/gametngk/metadata.yaml
  public/games/ganryu/cover.png
  public/games/ganryu/metadata.yaml
  public/games/garou/cover.png
  public/games/garou/metadata.yaml
  public/games/preisle2/cover.png.REMOVED.git-id
  public/games/preisle2/metadata.yaml
  public/games/wits/cover.png
  public/games/wits/metadata.yaml
  public/games/wjammers/cover.png
  public/games/wjammers/metadata.yaml
  public/games/wndrmomo/cover.png
  public/games/wndrmomo/metadata.yaml
  roms/mame/blazstar.zip.REMOVED.git-id
  roms/mame/gametngk.zip.REMOVED.git-id
  roms/mame/ganryu.zip.REMOVED.git-id
  roms/mame/garou.zip.REMOVED.git-id
  roms/mame/preisle2.zip.REMOVED.git-id
  roms/mame/wits.zip
  roms/mame/wjammers.zip.REMOVED.git-id
  roms/mame/wndrmomo.zip
Due: upload_to_gcs, pages

resize
  public/games/blazstar/cover.png
  public/games/gametngk/cover.png
  public/games/ganryu/cover.png
  public/games/garou/cover.png
  public/games/preisle2/cover.png
  public/games/preisle2/cover.png.REMOVED.git-id
  public/games/wits/cover.png
  public/games/wjammers/cover.png
  public/games/wndrmomo/cover.png
Due: pages

Modifier metadata.yaml
  public/games/ganryu/metadata.yaml
Due: pages

Modifier metadata.yaml
  public/games/wndrmomo/metadata.yaml
Due: pages

Remplacer arkanoid.nes
  roms/NES/arkanoid.nes
Due: upload_to_gcs

Modifier metadata.yaml
  public/games/arkanoid/metadata.yaml
Due: pages

remove screensaver from play to reduce gameplay interruptions
  public/play/index.html
Due: pages

add some games
  public/games/athena/cover.png
  public/games/athena/metadata.yaml
  public/games/pow/cover.png.REMOVED.git-id
  public/games/pow/metadata.yaml
  roms/fbneo/pow.zip
  roms/mame/athena.zip
Due: upload_to_gcs, pages

resize
  public/games/athena/cover.png
  public/games/pow/cover.png
  public/games/pow/cover.png.REMOVED.git-id
Due: pages

fix
  .gitlab-ci.yml
  public/games/bermudat/cover.png
  public/games/hyprduel/cover.png
  upload-files.sh
Due: pages

fix spf2t
  public/games/spf2t/cover.png
  public/games/spf2t/metadata.yaml
Due: pages

resize
  public/games/spf2t/cover.png
Due: pages

add some games
  public/games/arkanoid/cover.png
  public/games/arkanoid/metadata.yaml
  public/games/dohitagain/cover.png
  public/games/dohitagain/metadata.yaml
  public/games/jojo/cover.png
  public/games/jojo/metadata.yaml
  public/games/leds2011/cover.png
  roms/NES/arkanoid.nes
  roms/SNES/dohitagain.sfc
  roms/fbneo/avengers.zip
  roms/fbneo/jojo.zip.REMOVED.git-id
  roms/fbneo/jojoba.zip.REMOVED.git-id
  roms/fbneo/redearth.zip.REMOVED.git-id
  roms/mame/avengers.zip
  roms/mame/leds2011.zip
Due: upload_to_gcs, pages

resize
  public/games/dohitagain/cover.png
  public/games/jojo/cover.png
Due: pages

doh it again allow scrores
  public/games/dohitagain/metadata.yaml
Due: pages

dick tracy gen becomes dick tracy arcade
  public/games/dicktracygen/metadata.yaml
  roms/GENESIS/dicktracygen.md
Due: upload_to_gcs, pages

resize
  public/games/cairblad/cover.png
  public/games/cybattlr/cover.png
  public/games/dragnblz/cover.png
  public/games/gradius3/cover.png
  public/games/omegaf/cover.png
  public/games/omegaf/cover.png.REMOVED.git-id
  public/games/ryujin/cover.png
  public/games/s1945/cover.png
  public/games/s1945ii/cover.png
  public/games/s1945iii/cover.png
  public/games/s1945p/cover.png
  public/games/samuraia/cover.png
  public/games/sonic3c/cover.png
  public/games/tengai/cover.png
  public/games/vasara/cover.png
  public/games/zombiesatemyroguelike/cover.png
Due: pages

add a bunch of games
  public/games/1941/cover.png
  public/games/1941/metadata.yaml
  public/games/1942/cover.png
  public/games/1942/metadata.yaml
  public/games/1944/metadata.yaml
  public/games/19xx/cover.png.REMOVED.git-id
  public/games/19xx/metadata.yaml
  public/games/goldnaxe/cover.png
  public/games/goldnaxe/metadata.yaml
  public/games/gradius3/cover.png
  public/games/gradius3/cover.png.REMOVED.git-id
  public/games/vasara2/cover.png
  public/play/index.html
  roms/fbneo/1941.zip
  roms/fbneo/1942.zip
  roms/fbneo/1944.zip.REMOVED.git-id
  roms/fbneo/19xx.zip.REMOVED.git-id
  roms/fbneo/goldnaxe.zip
  scripts/README_IMAGE_RESIZE.md
  scripts/shrink_large_pngs_parallel.py
Due: upload_to_gcs, pages

resize
  public/games/1941/cover.png
  public/games/1942/cover.png
  public/games/19xx/cover.png
  public/games/19xx/cover.png.REMOVED.git-id
  public/games/goldnaxe/cover.png
  public/games/gradius3/cover.png
  public/games/gradius3/cover.png.REMOVED.git-id
  public/games/vasara2/cover.png
Due: pages

1944 cover, fix zombies genesis
  public/games/1944/cover.png
  roms/GENESIS/zombiesatemyroguelike.smd
Due: upload_to_gcs, pages

resize
  public/games/1944/cover.png
Due: pages

add a bunch of games
  public/games/redearth/metadata.yaml
  public/games/sailormn/cover.png
  public/games/sailormn/metadata.yaml
  public/games/salamand/cover.png
  public/games/salamand/metadata.yaml
  public/games/scobra/cover.png.REMOVED.git-id
  public/games/scobra/metadata.yaml
  public/games/scontra/cover.png
  public/games/scontra/metadata.yaml
  public/games/ssf2t/cover.png
  public/games/ssf2t/metadata.yaml
  roms/mame/madgear.zip
Due: upload_to_gcs, pages

add support for pcengine, and a bunch of games
  public/games/airzonk/cover.png.REMOVED.git-id
  public/games/airzonk/metadata.yaml
  public/games/redearth/cover.png
  public/games/sailormn/cover.png
  public/games/salamand/cover.png
  public/games/scobra/cover.png
  public/games/scobra/cover.png.REMOVED.git-id
  public/games/scontra/cover.png
  public/games/sf/cover.png
  public/games/sf/metadata.yaml
  public/games/slapfight/cover.png.REMOVED.git-id
  public/games/slapfight/metadata.yaml
  public/games/snapjack/cover.png.REMOVED.git-id
  public/games/snapjack/metadata.yaml
  public/games/ssf2/cover.png
  public/games/ssf2t/cover.png
  roms/GENESIS/slapfight.md
  roms/PCENGINE/airzonk.pce
  roms/fbneo/sf.zip
  roms/mame/snapjack.zip
  scripts/generate_gamelist.sh.bk
  scripts/generate_gamelist_parallel.sh
Due: upload_to_gcs, pages

add controls for pcengine
  public/config/controls_pce.json
  public/games/airzonk/cover.png
  public/games/airzonk/cover.png.REMOVED.git-id
  public/games/redearth/cover.png
  public/games/sf/cover.png
  public/games/slapfight/cover.png
  public/games/slapfight/cover.png.REMOVED.git-id
  public/games/snapjack/cover.png
  public/games/snapjack/cover.png.REMOVED.git-id
  public/games/ssf2/cover.png
Due: pages

Modifier metadata.yaml
  public/games/eternalchampions/metadata.yaml
Due: pages

Remplacer cover.png
  public/games/firepower2000/cover.png
Due: pages

Supprimer gaingroundgen.md
  roms/GENESIS/gaingroundgen.md
Due: upload_to_gcs

Supprimer cover.png
  public/games/gaingroundgen/cover.png
Due: pages

Supprimer metadata.yaml
  public/games/gaingroundgen/metadata.yaml
Due: pages

Modifier metadata.yaml
  public/games/dicktracygen/metadata.yaml
Due: pages

Modifier metadata.yaml
  public/games/abadox/metadata.yaml
Due: pages

Modifier metadata.yaml
  public/games/s1945p/metadata.yaml
Due: pages

Modifier metadata.yaml
  public/games/pyoro64/metadata.yaml
Due: pages

attempt to fix broken pipeline by not multiprocessing thumbnail generation in ci/cd
  scripts/shrink_large_pngs_parallel.py
Due: none

add a bunch of games
  public/games/blazrang/cover.png
  public/games/blazrang/metadata.yaml
  public/games/crisisforce/cover.png.REMOVED.git-id
  public/games/crisisforce/metadata.yaml
  public/games/p47iimd/cover.png
  public/games/p47iimd/metadata.yaml
  public/games/sidearms/cover.png.REMOVED.git-id
  public/games/sidearms/metadata.yaml
  roms/NES/blazrang.nes
  roms/NES/crisisforce.nes
Due: upload_to_gcs, pages

Path conditions:
  upload_to_gcs: any of: roms/**/*
  pages: any of: public/**/*, plinko-gamelist.txt
