Repository bonjourarcade/bonjourarcade: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload_to_gcs, pages

upload_to_gcs:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
  - echo "Setting up Google Cloud credentials..."
  - gcloud auth activate-service-account --key-file=$GCLOUD_SERVICE_KEY
  - gsutil -m rsync -rd roms gs://bonjourarcade-roms
  - echo "Upload completed. Current bucket size:"
  ...

pages:
  stage: deploy
  before_script:
  - apk update
  - apk add --no-cache bash imagemagick python3 py3-pip jq
  - python3 -m venv /tmp/yq-env
  - . /tmp/yq-env/bin/activate
  - pip3 install yq
  - pip3 install Pillow
  script:
  - bash scripts/build_parallel.sh
  - cp plinko-gamelist.txt public/plinko/gamelist.txt
  ...

resize
  public/games/blazrang/cover.png
  public/games/crisisforce/cover.png
  public/games/crisisforce/cover.png.REMOVED.git-id
  public/games/p47iimd/cover.png
  public/games/sidearms/cover.png
  public/games/sidearms/cover.png.REMOVED.git-id
Due: pages

resize
  public/games/birdweek/cover.png
  public/games/contra3/cover.png
  public/games/contra3nes/cover.png
  public/games/ddp2/cover.png
  public/games/fzerox/cover.png
  public/games/marioluigi/cover.png
  public/games/mariopinball/cover.png
  public/games/mvsdk/cover.png
  public/games/nwcham/cover.png
  public/games/sinpunish/cover.png
  public/games/sinpunish/cover.png.REMOVED.git-id
  public/games/smkart/cover.png
  public/games/starforc/cover.png
  public/games/starfox/cover.png
  public/games/starfox2/cover.png
  public/games/starfox64/cover.png
  public/games/starfoxex/cover.png
  public/games/starfoxex/cover.png.REMOVED.git-id
  public/games/starfoxsuperweekend/cover.png
  public/games/starsoldr/cover.png
  public/games/superc/cover.png
  public/games/supercircuit/cover.png
  public/games/supercircuit/cover.png.REMOVED.git-id
Due: pages

resize
  public/games/advwars/cover.png
  public/games/advwars2/cover.png
  public/games/ariaofsorrow/cover.png
  public/games/astroboy/cover.png
  public/games/chikyuu/cover.png
  public/games/chuchurocket/cover.png
  public/games/fireemblem/cover.png
  public/games/fireemblemstones/cover.png
  public/games/fzeroclimax/cover.png
  public/games/fzerogp/cover.png
  public/games/fzeromaxvel/cover.png
  public/games/gradiusg/cover.png
  public/games/gsun/cover.png
  public/games/gsuntla/cover.png
  public/games/gunstarsh/cover.png
  public/games/junoa26/cover.png
  public/games/kirbymirror/cover.png
  public/games/kirbynightmare/cover.png
  public/games/klonoagba/cover.png
  public/games/lilostitch/cover.png
  public/games/mariogolfgba/cover.png
  public/games/mariopowertennis/cover.png
  public/games/metroidfusion/cover.png
  public/games/metroidzeromission/cover.png
  public/games/minishcap/cover.png
  public/games/monkeyballjr/cover.png
  public/games/oracleages/cover.png
  public/games/oracleseasons/cover.png
  public/games/projects-11/cover.png
  public/games/riverking/cover.png
  public/games/riverking2/cover.png
  public/games/shantae/cover.png
Due: pages

disable scores by default
  public/config/emulator_settings.json
  public/games/1943/metadata.yaml
  public/games/aliensyn/metadata.yaml
  public/games/balloon/metadata.yaml
  public/games/batsugun/metadata.yaml
  public/games/berzerk/metadata.yaml
  public/games/bubbles/metadata.yaml
  public/games/chopcom/metadata.yaml
  public/games/clucluland/metadata.yaml
  public/games/contra/metadata.yaml
  public/games/ddonpach/metadata.yaml
  public/games/dkong/metadata.yaml
  public/games/findluigi/metadata.yaml
  public/games/gyruss/metadata.yaml
  public/games/iceclimber/metadata.yaml
  public/games/joust/metadata.yaml
  public/games/kungfu/metadata.yaml
  public/games/mslug/metadata.yaml
  public/games/mslug3/metadata.yaml
  public/games/mspacman/metadata.yaml
  public/games/nbbatman/metadata.yaml
  public/games/offroad/metadata.yaml
  public/games/pacman/metadata.yaml
  public/games/pacmance/metadata.yaml
  public/games/pitfall2/metadata.yaml
  public/games/rcproam/metadata.yaml
  public/games/scramble/metadata.yaml
  public/games/shinobi3/metadata.yaml
  public/games/sonic2/metadata.yaml
  public/games/tetris/metadata.yaml
  public/games/tgm2p/metadata.yaml
  public/games/vanguard/metadata.yaml
  public/games/yars/metadata.yaml
  scripts/generate_gamelist.sh.bk
  scripts/generate_gamelist_parallel.sh
Due: pages

add missing metadata
  public/games/mendel/cover.png
  public/games/mendel/metadata.yaml
  public/games/mwarriors/cover.png
  public/games/mwarriors/metadata.yaml
  public/games/wakuwak7/cover.png
Due: pages

resize
  public/games/mendel/cover.png
  public/games/mwarriors/cover.png
  public/games/wakuwak7/cover.png
Due: pages

fix batch processing logic for CI
  scripts/generate_gamelist_parallel.sh
Due: none

fix duplicate gotw entry
  scripts/generate_gamelist_parallel.sh
Due: none

trigger pipeline on updating scripts
  .gitlab-ci.yml
Due: none

add a bunch of games
  public/games/crusnu40/cover.png
  public/games/crusnu40/metadata.yaml
  public/games/crusnusa/cover.png
  public/games/crusnusa/metadata.yaml
  public/games/jdreddp/cover.png
  public/games/jdreddp/metadata.yaml
  public/games/kick/cover.png.REMOVED.git-id
  public/games/kick/metadata.yaml
  public/games/spacezap/cover.png.REMOVED.git-id
  public/games/spacezap/metadata.yaml
  public/games/strkforc/cover.png.REMOVED.git-id
  public/games/strkforc/metadata.yaml
  public/games/term2/cover.png.REMOVED.git-id
  public/games/term2/metadata.yaml
  public/games/trog/cover.png.REMOVED.git-id
  public/games/trog/metadata.yaml
  roms/fbneo/term2.zip.REMOVED.git-id
  roms/mame/crusnu40.zip.REMOVED.git-id
  roms/mame/crusnusa.zip.REMOVED.git-id
  roms/mame/jdreddp.zip.REMOVED.git-id
  roms/mame/kick.zip
  roms/mame/spacezap.zip
  roms/mame/strkforc.zip
  roms/mame/trog.zip
Due: upload_to_gcs, pages

resize
  public/games/crusnu40/cover.png
  public/games/crusnusa/cover.png
  public/games/jdreddp/cover.png
  public/games/kick/cover.png
  public/games/kick/cover.png.REMOVED.git-id
  public/games/spacezap/cover.png
  public/games/spacezap/cover.png.REMOVED.git-id
  public/games/strkforc/cover.png
  public/games/strkforc/cover.png.REMOVED.git-id
  public/games/term2/cover.png
  public/games/term2/cover.png.REMOVED.git-id
  public/games/trog/cover.png
  public/games/trog/cover.png.REMOVED.git-id
Due: pages

Remplacer androdun.zip
  roms/mame/androdun.zip
Due: upload_to_gcs

Remplacer bjourney.zip
  roms/mame/bjourney.zip
  roms/mame/bjourney.zip.REMOVED.git-id
Due: upload_to_gcs

Téléverser un nouveau fichier
  roms/SNES/fzero.sfc
Due: upload_to_gcs

Téléverser un nouveau fichier
  roms/SNES/evo.sfc
Due: upload_to_gcs

Téléverser un nouveau fichier
  roms/SNES/edf.sfc
Due: upload_to_gcs

Modifier metadata.yaml
  public/games/pockyrocky/metadata.yaml
Due: pages

random buttons select among the currently filtered games
  public/all/index.html
  public/assets/js/main.js
  public/index.html
Due: pages

(send_newsletter) if announcement if empty in metadata, abort
  scripts/send_newsletter.py
Due: none

add script to generate announcement in metadata
  scripts/generate_announcement.py
Due: none

script to generate announcement using AI (chatgpt and claude supported
  public/games/gunbird2/metadata.yaml
  public/games/hero/metadata.yaml
  public/games/mplanets/metadata.yaml
  public/games/mslug3/metadata.yaml
  public/games/seicross/metadata.yaml
  scripts/generate_announcement.py
Due: pages

if metadata has problem: true, game shows up with a red x in its title
  public/all/index.html
  public/assets/js/main.js
  public/games/rsgun/metadata.yaml
  scripts/generate_gamelist_parallel.sh
Due: pages

send newsletter envoie scores au jeu de la semaine precedente a la fin du email
  scripts/send_newsletter.py
Due: none

show leaderboards on mobile
  public/play/index.html
Due: pages

add some games
  public/games/actraiser/metadata.yaml
  public/games/addamsfamily/cover.png
  public/games/addamsfamily/metadata.yaml
  public/games/choujinsentai/cover.png
  public/games/choujinsentai/metadata.yaml
  public/games/shadowoftheninja/cover.png
  public/games/shadowoftheninja/metadata.yaml
  public/games/shatterhand/cover.png
  public/games/shatterhand/metadata.yaml
  public/games/topgun/cover.png
  public/games/topgun/metadata.yaml
  roms/NES/choujinsentai.nes
  roms/NES/shadowoftheninja.nes
  roms/NES/shatterhand.nes
  roms/SNES/actraiser.sfc
  roms/SNES/addamsfamily.sfc
  roms/mame/topgun.zip
Due: upload_to_gcs, pages

resize
  public/games/addamsfamily/cover.png
  public/games/choujinsentai/cover.png
  public/games/shadowoftheninja/cover.png
  public/games/shatterhand/cover.png
  public/games/topgun/cover.png
Due: pages

actraiser cover
  public/games/actraiser/cover.png
Due: pages

resize
  public/games/actraiser/cover.png
Due: pages

resize
  public/games/circusatari/cover.png
  public/games/circusc/cover.png
  public/games/circuslido/cover.png
  public/games/circuslido/cover.png.REMOVED.git-id
  public/games/citycon/cover.png
  public/games/commando/cover.png
  public/games/commsega/cover.png
  public/games/demonscrest/cover.png
  public/games/dondokod/cover.png
  public/games/fantjour/cover.png
  public/games/gunbird/cover.png
  public/games/hopmappy/cover.png
  public/games/kinst/cover.png
  public/games/kinst2/cover.png
  public/games/kittenk/cover.png
  public/games/liquidk/cover.png
  public/games/mappy/cover.png
  public/games/mcatadv/cover.png
  public/games/nightshade/cover.png
  public/games/nightshade/cover.png.REMOVED.git-id
  public/games/parasolstars/cover.png
  public/games/parasolstars/cover.png.REMOVED.git-id
  public/games/parodius/cover.png
  public/games/pbobble3/cover.png
  public/games/penbros/cover.png
  public/games/pengo/cover.png
  public/games/pooyan/cover.png
  public/games/popeye/cover.png
  public/games/popnpop/cover.png
  public/games/rodland/cover.png
  public/games/tnzs/cover.png
  public/games/twinkletale/cover.png
  public/games/twinkletale/cover.png.REMOVED.git-id
Due: pages

specify problem games, add cruis'n world
  public/games/bloodlines/metadata.yaml
  public/games/chewmanfu/metadata.yaml
  public/games/crusnu40/cover.png
  public/games/crusnwld/cover.png
  public/games/crusnwld/metadata.yaml
  roms/mame/crusnu40.zip.REMOVED.git-id
  roms/mame/crusnwld.zip.REMOVED.git-id
Due: upload_to_gcs, pages

add some games
  public/games/crusnwld/cover.png
  roms/fbneo/aurail.zip
  roms/fbneo/gogomile.zip.REMOVED.git-id
  roms/fbneo/horekid.zip
  roms/fbneo/sabotenb.zip
  roms/mame/gemini.zip
  roms/mame/hoccer.zip
  roms/mame/naname.zip
  roms/mame/nitd.zip.REMOVED.git-id
  roms/mame/sci.zip
  roms/mame/tekipaki.zip
Due: upload_to_gcs, pages

Path conditions:
  upload_to_gcs: any of: roms/**/*
  pages: any of: public/**/*, plinko-gamelist.txt
