Repository bonjourarcade/bonjourarcade: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload_to_gcs, pages

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html

image: alpine

upload_to_gcs:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
    - echo "Setting up Google Cloud credentials..."
    - gcloud auth activate-service-account --key-file=$GCLOUD_SERVICE_KEY
    - gsutil -m rsync -rd roms gs://bonjourarcade-roms
    - echo "Upload completed. Current bucket size:"
    - gcloud storage du gs://bonjourarcade-roms --summarize | awk '{if($1>=1024^3) printf "%.2f GB", $1/1024^3; else if($1>=1024^2) printf "%.2f MB", $1/1024^2; else if($1>=1024) printf "%.2f KB", $1/1024; else printf "%d bytes", $1}'
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes: 
        - roms/**/*

pages:
  stage: deploy
  before_script:
    - apk update
    - apk add --no-cache bash imagemagick python3 py3-pip jq #zip  # Install necessary packages
    - python3 -m venv /tmp/yq-env                      # Create a virtual environment
    - . /tmp/yq-env/bin/activate                       # Activate the virtual environment
    - pip3 install yq                                  # Install the Python-based yq
    - pip3 install Pillow                              # Install dependencies for PNG shrinking
  script:
    - bash scripts/build_parallel.sh
    - cp plinko-gamelist.txt public/plinko/gamelist.txt
    #- cd public
    #- zip -r games.zip games
    - echo "The site will be deployed to $CI_PAGES_URL"
  artifacts:
    paths:
      - public
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes: 
        - public/**/*
        - plinko-gamelist.txt

resize
  public/games/armedf/cover.png
  public/games/bosco/cover.png
  public/games/bosco/cover.png.REMOVED.git-id
  public/games/burnforc/cover.png
  public/games/cleopatr/cover.png
  public/games/dangseed/cover.png
  public/games/detatwin/cover.png
  public/games/dharma/cover.png
  public/games/drtoppel/cover.png
  public/games/dsaber/cover.png
  public/games/gaplus/cover.png
  public/games/gundhara/cover.png
  public/games/kikcubic/cover.png
  public/games/lasso/cover.png
  public/games/liblrabl/cover.png
  public/games/ncv1/cover.png
  public/games/pprobe/cover.png
  public/games/riskchal/cover.png
  public/games/rompers/cover.png
  public/games/sbomberb/cover.png
  public/games/scorpnmc/cover.png
  public/games/scorpnmc/cover.png.REMOVED.git-id
  public/games/soldam/cover.png
  public/games/srdarwin/cover.png
  public/games/sspirits/cover.png
  public/games/suprloco/cover.png
  public/games/suprloco/cover.png.REMOVED.git-id
  public/games/tdragon2/cover.png
  public/games/terracre/cover.png
  public/games/terracre/cover.png.REMOVED.git-id
Due: pages

remove killer instinct games, too complicated to set up for now
  public/games/kinst/cover.png
  public/games/kinst/metadata.yaml
  public/games/kinst2/cover.png
  public/games/kinst2/metadata.yaml
  roms/mame/kinst.zip.REMOVED.git-id
  roms/mame/kinst2.zip.REMOVED.git-id
Due: upload_to_gcs, pages

resize
  public/games/matrim/cover.png
Due: pages

add cute bubble bobble
  public/games/bublbob2/cover.png
  public/games/bublbob2/metadata.yaml
  public/games/bublbobl/cover.png
  public/games/bublbobl/metadata.yaml
  public/games/rbisland/metadata.yaml
  roms/fbneo/bublbob2.zip.REMOVED.git-id
  roms/fbneo/bublbobl.zip
Due: upload_to_gcs, pages

resize
  public/games/bublbob2/cover.png
  public/games/bublbobl/cover.png
Due: pages

feature(screensaver) : implemented /screensaver
  SCREENSAVER_README.md
  public/all/index.html
  public/index.html
  public/play/index.html
  public/randomgame/index.html
  public/screensaver/index.html
Due: pages

arcade screensaver 2m30s
  SCREENSAVER_README.md
  public/play/index.html
  public/screensaver/index.html
Due: pages

update disable screensaver button
  SCREENSAVER_README.md
  public/play/index.html
Due: pages

button for go to next game
  SCREENSAVER_README.md
  public/play/index.html
Due: pages

fix(screensaver): replace 'unknown system' when loading by proper system
  public/all/index.html
  public/assets/js/main.js
  public/randomgame/index.html
Due: pages

enable score on hero
  SCREENSAVER_README.md
  public/games/hero/metadata.yaml
  scripts/generate_gamelist_parallel.sh
Due: pages

future games of the week will get unhidden as soon as their week is hit, and will stay unhidden in the future
  scripts/check_predictions_status.py
  scripts/generate_gamelist.sh.bk
  scripts/generate_gamelist_parallel.sh
Due: none

disable idle screensaver for /play
  public/play/index.html
Due: pages

screensaver menu on mobile
  public/play/index.html
Due: pages

perfected screenshot button
  public/play/index.html
Due: pages

dont random load problem games. fix starfox64
  public/all/index.html
  public/randomgame/index.html
  roms/N64/starfox64.z64
  roms/N64/starfox64.z64.REMOVED.git-id
Due: upload_to_gcs, pages

close screensaver submenu by clicking anywhere on screen
  public/play/index.html
Due: pages

resolve screensaver button on mobile, now works as intended
  public/play/index.html
Due: pages

Supprimer save.state
  public/games/mslug/save.state
Due: pages

Supprimer save.state
  public/games/mslug2t/save.state
Due: pages

feature(screensaver): auto-launch screensaver, 10s countdown loading bar
  public/screensaver/index.html
Due: pages

fix term2, paper mario
  public/games/papermario/cover.png
  public/games/papermario/metadata.yaml
  roms/N64/papermario.z64.REMOVED.git-id
  roms/mame/term2.zip.REMOVED.git-id
Due: upload_to_gcs, pages

resize
  public/games/papermario/cover.png
Due: pages

game of the week on main page uses date from predictions.yaml, not metadata
  public/index.html
  scripts/check_predictions_status.py
  scripts/generate_gamelist_parallel.sh
Due: pages

ui upgrades: hover effect on random button, text in footer
  public/assets/css/style.css
  public/index.html
Due: pages

screensaver timer before launching doesn't reset if user moves
  public/screensaver/index.html
Due: pages

ajouter info pour aide
  public/assets/images/getting-started.png
  public/play/index.html
Due: pages

config screensaver
  public/play/index.html
  public/screensaver/index.html
Due: pages

resize
  public/play/index.html
  public/screensaver/index.html
Due: pages

automated newsletter setup
  .gitlab-ci.yml
  AUTOMATED_NEWSLETTER_SETUP.md
  NEWSLETTER_SETUP.md
  scripts/send_newsletter.py
  scripts/test_automated_newsletter.sh
Due: none

announcement on game of the week
  public/assets/css/style.css
  public/assets/js/main.js
  public/games/superpac/cover.png
  public/games/superpac/metadata.yaml
  public/index.html
  roms/fbneo/superman.zip
  roms/fbneo/superpac.zip
  scripts/generate_gamelist_parallel.sh
Due: upload_to_gcs, pages

traduire champs en anglais du gotw, présenter le système
  public/assets/js/main.js
  public/games/superman/cover.png
  public/games/superman/metadata.yaml
  public/games/superpac/cover.png
Due: pages

resize
  public/games/superman/cover.png
Due: pages

Mettre à jour le fichier .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

resize
  public/games/citybomb/cover.png
  public/games/congo/cover.png
  public/games/contra/cover.png
  public/games/cotton/cover.png
  public/games/cottonbm/cover.png
  public/games/crimfght/cover.png
  public/games/cyvern/cover.png
  public/games/jrpacman/cover.png
  public/games/pacmania/cover.png
  public/games/pingpong/cover.png
  public/games/pokeblue/cover.png
  public/games/pokegreen/cover.png
  public/games/pokered/cover.png
  public/games/surpratk/cover.png
Due: pages

resize
  public/games/dkkingswing/cover.png
  public/games/dkkingswing/cover.png.REMOVED.git-id
  public/games/mariopartyadv/cover.png
  public/games/picross/cover.png
  public/games/picross2/cover.png
  public/games/pokecrystal/cover.png
  public/games/pokefirered/cover.png
  public/games/pokefirered/cover.png.REMOVED.git-id
  public/games/pokegold/cover.png
  public/games/pokegold/cover.png.REMOVED.git-id
  public/games/pokeleafgreen/cover.png
  public/games/pokemerald/cover.png
  public/games/pokemerald/cover.png.REMOVED.git-id
  public/games/pokemystery/cover.png
  public/games/pokemystery/cover.png.REMOVED.git-id
  public/games/pokepuz/cover.png
  public/games/pokepuzleague/cover.png
  public/games/pokepuzleague/cover.png.REMOVED.git-id
  public/games/pokeruby/cover.png
  public/games/pokesapphire/cover.png
  public/games/pokesapphire/cover.png.REMOVED.git-id
  public/games/pokesilver/cover.png
  public/games/pokesilver/cover.png.REMOVED.git-id
  public/games/pokesnap/cover.png
  public/games/pokestadium/cover.png
  public/games/pokestadium2/cover.png
  public/games/poketrade/cover.png
Due: pages
